.container{
    max-width: 1080px;
    margin: 0 auto;
}

.titulo{
    font-size: 46px;
    font-weight: bold;
    color: #3D65AA;
    margin-top: 1rem;
}

.att{
    color: #55557b;
    font-size: 15px;
    margin-top: .6rem;
    margin-bottom: 3rem;
}

