.containerRamais{
    position: relative;
    width: 1120px;
    margin: 0 auto;
    height: 75vh;
    
}

.title {
    color: var(--dark-900);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
  }
  
  .title::after {
    content: "";
    display: block;
    width: 6.2rem;
    height: 3px;
    margin-top: 0.3rem;
    border-radius: 4rem;
    background-color: var(--dark-900);
  }

  .footer{
    position: relative;
    bottom: 0;
  }

  